<app-barra-menu titulo="Actualización de Datos"></app-barra-menu>

<ion-content [fullscreen]="true" class="background-general">
    <!--spinner de recarga-->
    <div *ngIf="spinnerRecarga" class="spinner-superpuesto">
        <ion-spinner name="crescent"></ion-spinner>
    </div>
    <!--formulario cambiar contraseña-->
    <ion-card class="ion-margin-top">
        <div class="ion-padding">
            <ion-item class="input" lines="none">
                <ion-input [(ngModel)]="mdl_correo" label="Correo electrónico" labelPlacement="floating" placeholder="Ingresa tu correo electrónico para validar"></ion-input>
            </ion-item>
            <ion-item class="ion-margin-top input" lines="none">
                <ion-select [(ngModel)]="mdl_carrera" label="Carrera" labelPlacement="floating" interface="popover" placeholder="Selecciona tu carrera">
                    <ion-select-option value="Ingeniería en Informática">Ingeniería en Informática</ion-select-option>
                    <ion-select-option value="Ingeniería en Redes y Telecomunicaciones">Ingeniería en Redes y Telecomunicaciones</ion-select-option>
                    <ion-select-option value="Técnico en Redes y Telecomunicaciones">Técnico en Redes y Telecomunicaciones</ion-select-option>
                    <ion-select-option value="Analista Programador Computacional">Analista Programador Computacional</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item class="ion-margin-top input" lines="none">
                <ion-input [(ngModel)]="mdl_contrasenaNueva" label="Nueva contraseña" labelPlacement="floating" [type]="verContrasena ? 'text' : 'password'" placeholder="Ingresa tu nueva contraseña">
                    <ion-button fill="clear" slot="end" (click)="contrasenaVisible()">
                        <ion-icon [name]="verContrasena ? 'eye' : 'eye-off'" class="ojo-contrasena"></ion-icon>
                    </ion-button>
                </ion-input>
            </ion-item>
            <ion-item class="ion-margin-top input" lines="none">
                <ion-input [(ngModel)]="mdl_confirmarContrasenaNueva" label="Confirmar nueva contraseña" labelPlacement="floating" [type]="verConfirmarContrasena ? 'text' : 'password'" placeholder="Ingresa nuevamente tu nueva contraseña">
                    <ion-button fill="clear" slot="end" (click)="confirmarContrasenaVisible()">
                        <ion-icon [name]="verConfirmarContrasena ? 'eye' : 'eye-off'" class="ojo-contrasena"></ion-icon>
                    </ion-button>
                </ion-input>
            </ion-item>
            <ion-button (click)="actualizarUsuario()" [disabled]="botonDeshabilitado" expand="block" shape="round" color="tertiary" class="ion-margin-top">
                <ion-spinner *ngIf="spinnerVisible" name="bubbles"></ion-spinner>
                <span *ngIf="!spinnerVisible">Cambiar contraseña</span>
            </ion-button>
        </div>
    </ion-card>
</ion-content>
