<app-barra-menu titulo="ECD Asistencia"></app-barra-menu>

<ion-content [fullscreen]="true" class="background-general">
    <!--contenedor para los cards-->
    <div class="ion-padding">
        <!--card con datos de usuario-->
        <ion-card *ngIf="!skeletonsCargando" class="card-background">
            <ion-card-header>
                <div class="foto-perfil">
                    <ion-icon name="person-circle"></ion-icon>
                </div>
                <ion-card-title class="titulo-centrado">{{ nombre }} {{ apellido }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <li><strong>{{ correo }}</strong></li>
                <li><strong>{{ carrera }}</strong></li>
            </ion-card-content>
            <ion-card-content>
                <ion-card-title class="ion-margin-bottom">Asignaturas inscritas</ion-card-title>
                <ng-container *ngFor="let asignatura of lista_asignaturas">
                    <li>{{ asignatura.nombre }}</li>
                </ng-container>
            </ion-card-content>
        </ion-card>
        <!-- Skeleton para datos de usuario -->
        <ion-card *ngIf="skeletonsCargando">
            <ion-card-header>
                <div class="foto-perfil">
                    <ion-skeleton-text animated style="width: 150px; height: 150px; border-radius: 50%;"></ion-skeleton-text>
                </div>
                <ion-card-title class="titulo-centrado">
                    <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-margin-top">
                <p><ion-skeleton-text animated style="width: 90%;"></ion-skeleton-text></p>
                <p><ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text></p>
            </ion-card-content>
            <ion-card-content>
                <ion-card-title class="ion-margin-bottom">
                    <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
                </ion-card-title>
                <!-- Skeleton de lista de asignaturas -->
                <ng-container *ngFor="let asignatura of lista_asignaturas">
                    <p><ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text></p>
                </ng-container>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
