<app-barra-menu titulo="Sedes"></app-barra-menu>

<ion-content [fullscreen]="true" class="background-general">
    <!--contenedor para los cards-->
    <div class="ion-padding">
        <!--card con sedes cuando se carguen-->
        <ion-card>
            <ion-card-header>
                <ion-card-title>Sedes DUOC UC</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <!--mostrar skeletons si está cargando-->
                <ion-list *ngIf="skeletonsCargando">
                    <ion-item *ngFor="let sede of lista_sedes" class="item-card">
                        <ion-thumbnail slot="start" class="thumbnail-card skeleton-image"></ion-thumbnail>
                        <ion-label>
                            <div class="skeleton-text"></div>
                        </ion-label>
                    </ion-item>
                </ion-list>
                <!--mostrar sedes cuando termine de cargar-->
                <ion-list *ngIf="!skeletonsCargando">
                    <ion-item *ngFor="let sede of lista_sedes" (click)="abrirModal(sede)" class="item-card">
                        <ion-thumbnail slot="start" class="thumbnail-card">
                            <img alt="Foto de la sede" [src]="sede.imagen" />
                        </ion-thumbnail>
                        <ion-label>
                            <p><strong>{{ sede.nombre }}</strong></p>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </div>
    <!--modal para informacion de sedes-->
    <ion-modal [isOpen]="modalAbierto" backdropDismiss="false" class="modal">
        <ng-template>
            <ion-content class="content-modal">
                <!--toolbar del modal-->
                <ion-toolbar class="color-toolbar-modal">
                    <ion-title>{{ sedeSeleccionada?.nombre }}</ion-title>
                    <ion-buttons slot="end">
                        <ion-button color="light" (click)="cerrarModal()">
                            <ion-icon slot="icon-only" name="close"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>
                <!--contenido movil-->
                <div class="contenido-scrollable">
                    <!--imagen del modal-->
                    <div style="text-align: center" class="ion-margin-horizontal ion-margin-top">
                        <ion-img [src]="sedeSeleccionada?.imagen" alt="Imagen de la sede" style="max-width: 100%; height: auto;"></ion-img>
                    </div>
                    <!--datos de la sede-->
                    <ion-list class="ion-margin-horizontal">
                        <ion-item lines="none" class="item-card">
                            <ion-label>
                                <p><strong>Dirección:</strong> {{ sedeSeleccionada?.direccion }}</p>
                                <p><strong>Teléfono:</strong> {{ sedeSeleccionada?.telefono }}</p>
                                <p><strong>Horario:</strong> {{ sedeSeleccionada?.horario }}</p>
                            </ion-label>
                        </ion-item>
                    </ion-list>
                </div>
            </ion-content>
            <!--toolbar debajo de la lista con botones-->
            <ion-toolbar class="color-toolbar-modal">
                <ion-buttons slot="start">
                    <ion-button (click)="darLike()" [color]="colorLike">
                        <ion-icon [name]="tipoLike" class="corazon"></ion-icon>
                        <span>{{ contadorLike }}</span>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ng-template>
    </ion-modal>
</ion-content>
