/* CARD DE LAS SEDES */

.thumbnail-card {
    width: 70px; //ajusta el tamaño del thumbnail
    height: 70px;
}

//skeletons
.skeleton-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skeleton-image {
    width: 70px; //ajusta el tamaño para que sea similar al thumbnail
    height: 70px;
    background-color: #ccc;
    border-radius: 10px;
}

.skeleton-text {
    width: 100%;
    height: 15px; //reduce la altura de las lineas para que imiten textos pequeños
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 10px;
}

.skeleton-text:last-child {
    width: 70%; //varia el ancho de la ultima linea
}

//item del card
.item-card {
    --padding-start: 0;
}


/* MODAL */

.modal {
    --height: 65%;
    --width: 95%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
}

.color-toolbar-modal {
    --background: rgb(14 116 144);
    --color: white;
}

.content-modal {
    --padding-top: 0;
    --padding-bottom: 0;
}

.contenido-scrollable {
    padding-top: 10px; //altura del toolbar superior
    padding-bottom: 10px; //altura del toolbar inferior
    height: calc(100% - 50px); //altura del contenido desplazable
    overflow-y: auto; //permite el desplazamiento vertical
}

.corazon {
    font-size: 1.5rem; //ajusta el tamaño según sea necesario
}
