//background
.background-color {
    --background: radial-gradient(circle, rgb(174, 88, 88) 85%, rgba(27,0,43,1) 100%);
}

.background-imagen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/images/splash.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
