.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 200px;
    height: 200px;
    border-radius: 50%; //circular
    border: 3px solid #ddd; //borde
    object-fit: cover; //la imagen se adapta a su contenedor
}

//centar titulo
.titulo-login {
    text-align: center; //centra el texto
    font-weight: bold; //negrita
    margin-bottom: 5px; //espacio entre el titulo y el formulario
}

//backround del card
.card-background {
    position: relative; //asegura que el pseudo-elemento se posicione relativo al card
    overflow: hidden; //oculta cualquier parte del fondo que sobresalga del card
}

.card-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/images/login.svg');
    background-size: 95%; //ajusta el tamaño de la imagen
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3; //controla la transparencia de la imagen de fondo
    z-index: 0; //envia la imagen al fondo
    pointer-events: none; //evita que el fondo bloquee la interaccion
}

.card-background ion-card-header,
.card-background ion-card-content {
    position: relative;
    z-index: 1; //eleva el contenido sobre el fondo
}
