.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 200px;
    height: 200px;
    border-radius: 50%; //circular
    border: 3px solid #ddd; //borde
    object-fit: cover; //la imagen se adapta a su contenedor
}

//centar titulo
.titulo-login {
    text-align: center; //centra el texto
    font-size: 2rem; //tamaño del titulo
    font-weight: bold; //negrita
    margin-bottom: 10px; //espacio entre el titulo y el formulario
}
