<ion-content [fullscreen]="true" class="background-general">
  <!--logo centrado sobre el card-->
  <div class="logo-container ion-margin-vertical">
    <img src="assets/images/icono.png" alt="Logo" class="logo">
  </div>
  <!--card para el formulario del login-->
  <ion-card class="card-background">
    <ion-progress-bar *ngIf="barraProgresoVisible" type="indeterminate" color="dark"></ion-progress-bar>
    <h1 class="titulo-login">ECD Asistencia</h1>
    <h4 class="titulo-login">Inicio de sesión</h4>
    <div class="ion-padding">
      <div class="ion-padding">
        <ion-item class="ion-margin-vertical input" lines="none">
          <ion-input [(ngModel)]="mdl_correo" label="Correo electrónico" labelPlacement="floating" placeholder="correo@duocuc.cl"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-vertical input" lines="none">
          <ion-input [(ngModel)]="mdl_contrasena" label="Contraseña" labelPlacement="stacked" type="password" placeholder="Ingresa tu contraseña">
            <ion-input-password-toggle slot="end" color="dark"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <ion-button (click)="login()" [disabled]="botonDeshabilitado" expand="block" shape="round" color="tertiary" class="ion-margin-top">
          <ion-spinner *ngIf="spinnerVisible" name="bubbles"></ion-spinner>
          <span *ngIf="!spinnerVisible">Ingresar</span>
        </ion-button>
        <ion-button (click)="navegarRegistroUsuario()" expand="block" fill="clear" class="ion-margin-top">Regístrate aquí</ion-button>
      </div>
    </div>
  </ion-card>
</ion-content>
