<ion-header [translucent]="true">
  <ion-toolbar class="barra-registro">
    <ion-title>Registro de Usuario</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-general">
  <!--spinner de recarga-->
  <div *ngIf="spinnerRecarga" class="spinner-superpuesto">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <!--formulario crear usuario-->
  <ion-card>
    <div class="ion-padding">
      <ion-item class="input" lines="none">
        <ion-input [(ngModel)]="mdl_nombre" label="Nombre" labelPlacement="floating" placeholder="Ingresa tu nombre"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-top input" lines="none">
        <ion-input [(ngModel)]="mdl_apellido" label="Apellido" labelPlacement="floating" placeholder="Ingresa tu apellido"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-top input" lines="none">
        <ion-select [(ngModel)]="mdl_carrera" label="Carrera" labelPlacement="floating" interface="popover" placeholder="Selecciona tu carrera">
          <ion-select-option value="Ingeniería en Informática">Ingeniería en Informática</ion-select-option>
          <ion-select-option value="Ingeniería en Redes y Telecomunicaciones">Ingeniería en Redes y Telecomunicaciones</ion-select-option>
          <ion-select-option value="Técnico en Redes y Telecomunicaciones">Técnico en Redes y Telecomunicaciones</ion-select-option>
          <ion-select-option value="Analista Programador Computacional">Analista Programador Computacional</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="ion-margin-top input" lines="none">
        <ion-input [(ngModel)]="mdl_correo" label="Correo" labelPlacement="floating" placeholder="correo@duocuc.cl"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-top input" lines="none">
        <ion-input [(ngModel)]="mdl_contrasena" label="Contraseña" [type]="verContrasena ? 'text' : 'password'" labelPlacement="floating" placeholder="Ingresa tu contraseña">
          <ion-button fill="clear" slot="end" (click)="contrasenaVisible()">
            <ion-icon [name]="verContrasena ? 'eye' : 'eye-off'" class="ojo-contrasena"></ion-icon>
          </ion-button>
        </ion-input>
      </ion-item>
      <ion-item class="ion-margin-top input" lines="none">
        <ion-input [(ngModel)]="mdl_confirmarContrasena" label="Confirmar contraseña" [type]="verConfirmarContrasena ? 'text' : 'password'" labelPlacement="floating" placeholder="Confirma tu contraseña">
          <ion-button fill="clear" slot="end" (click)="confirmarContrasenaVisible()">
            <ion-icon [name]="verConfirmarContrasena ? 'eye' : 'eye-off'" class="ojo-contrasena"></ion-icon>
          </ion-button>
        </ion-input>
      </ion-item>
      <ion-button (click)="registroUsuario()" [disabled]="botonDeshabilitado" expand="block" shape="round" color="tertiary" class="ion-margin-top">
        <ion-spinner *ngIf="spinnerVisible" name="bubbles"></ion-spinner>
        <span *ngIf="!spinnerVisible">Registrarse</span>
      </ion-button>
    </div>
  </ion-card>
</ion-content>
