<ion-menu menuId="menu-end" side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar class="barra-menu">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item *ngIf="!esLaRutaActual('principal')" lines="none">
      <ion-button (click)="principal()" fill="clear" color="dark">
        <ion-icon name="home" slot="start" class="icono"></ion-icon>
        Principal
      </ion-button>
    </ion-item>
    <ion-item *ngIf="!esLaRutaActual('actualizacion-datos')" lines="none">
      <ion-button (click)="actualizacionDatos()" fill="clear" color="dark">
        <ion-icon name="person-circle-outline" slot="start" class="icono"></ion-icon>
        Actualizar datos
      </ion-button>
    </ion-item>
    <ion-item *ngIf="!esLaRutaActual('sedes')" lines="none">
      <ion-button (click)="sedes()" fill="clear" color="dark">
        <ion-icon name="business" slot="start" class="icono"></ion-icon>
        Sedes
      </ion-button>
    </ion-item>
    <ion-item *ngIf="!esLaRutaActual('asistencia')" lines="none">
      <ion-button (click)="asistencia()" fill="clear" color="dark">
        <ion-icon name="calendar-outline" slot="start" class="icono"></ion-icon>
        Asistencia
      </ion-button>
    </ion-item>
    <ion-item-divider></ion-item-divider><!--divider-->
    <ion-item lines="none">
      <ion-button (click)="cerrarSesion()" fill="clear" color="dark">
        <ion-icon name="log-out-outline" slot="start" class="icono"></ion-icon>
        Cerrar Sesión
      </ion-button>
    </ion-item>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true" id="main-content">
  <ion-toolbar class="barra-general">
    <ion-title>{{ titulo }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="abrirMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--spinner de recarga-->
<div *ngIf="spinnerRecarga" class="spinner-superpuesto">
  <ion-spinner name="crescent"></ion-spinner>
</div>
