//barra
.barra-general {
    --background: radial-gradient(circle, rgb(185, 8, 8) 0%, rgba(2,0,36,1) 100%);
    --color: #e8e8e8;
}

//barra menu
.barra-menu {
    --background: radial-gradient(circle, rgba(140,0,255,1) 0%, rgba(27,0,43,1) 100%);
    --color: #e8e8e8;
}

//estilo del menu (ionic)
ion-menu::part(backdrop) {
    background-color: rgba(0, 115, 153, 0.5);
}

ion-menu::part(container) {
    border-radius: 20px 0 0 20px;
    box-shadow: -4px 0px 16px rgba(4, 4, 4, 0.18);
}

//tamaño del icono de las opciones
.icono {
    font-size: 24px;
}

//background cuerpo del menu
.menu-background {
    position: relative;
    overflow: hidden;
}

.menu-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/images/menu.svg');
    background-size: 95%; //ajusta el tamaño de la imagen
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3; //controla la transparencia de la imagen de fondo
    z-index: 0; //envia la imagen al fondo
    pointer-events: none;
}

.menu-background div {
    position: relative;
    z-index: 1;
}
