<ion-menu menuId="menu-end" side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar class="barra-menu">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu-background">
    <div class="ion-margin-top">
      <ion-item lines="none">
        <ion-button (click)="actualizacionDatos()" fill="clear" color="dark" [disabled]="esLaRutaActual('actualizacion-datos')">
          <ion-icon name="person-circle-outline" slot="start" class="icono"></ion-icon>
          Actualizar datos
        </ion-button>
      </ion-item>
      <ion-item lines="none">
        <ion-button (click)="sedes()" fill="clear" color="dark" [disabled]="esLaRutaActual('sedes')">
          <ion-icon name="business" slot="start" class="icono"></ion-icon>
          Sedes
        </ion-button>
      </ion-item>
      <ion-item lines="none">
        <ion-button (click)="asistencia()" fill="clear" color="dark" [disabled]="esLaRutaActual('asistencia')">
          <ion-icon name="calendar-outline" slot="start" class="icono"></ion-icon>
          Asistencia
        </ion-button>
      </ion-item>
      <ion-item-divider></ion-item-divider>
      <ion-item lines="none" class="ion-margin-top">
        <ion-button (click)="cerrarSesion()" fill="clear" color="dark">
          <ion-icon name="log-out-outline" slot="start" class="icono"></ion-icon>
          Cerrar Sesión
        </ion-button>
      </ion-item>
    </div>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true" id="main-content">
  <ion-toolbar class="barra-general">
    <ion-title>{{ titulo }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="principal()" [disabled]="esLaRutaActual('principal')">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ion-button (click)="abrirMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar *ngIf="barraProgresoVisible" type="indeterminate" class="progreso-barra"></ion-progress-bar>
</ion-header>
